html, body {
  height: 100vh;
  margin: 0; 
  padding: 0;
  overflow: hidden;
}

  
#map {
  z-index: 0;
  width: 100vw; /* Ocupa 100% da largura do contêiner */
  height: 100vh; /* Ocupa 100% da altura do contêiner */
  
}
  
.map-controls {
  background-color: rgba(127 123 123 / 0.47);
  border-radius: 4%;
  position: absolute;
  margin-top: 13vh;
  margin-left: calc(100% - 25vw);
  z-index: 1;
  float: right;
  padding-top: 1vh;
  transition: 0.3s;
}
.button-container{
  border-radius: 30vh;
  position: absolute;
  margin-top: 13vh;
  margin-left: calc(100% - 25vw);
  z-index: 1;
  width: 25vw;
  height: 6vh;
  white-space:nowrap; 
}
@media (max-width: 999px) {
  .map-controls {
    margin-left: calc(100% - vw);
    display:block;
  }
  .button-container{
    width: 40vw;
    margin-left: calc(100% - 40vw);

  }
}

.legenda {
  background-color: rgba(127 123 123 / 0.47);
  border-radius: 4%;
  position: absolute;
  margin-left: 2.5vh;
  z-index: 1;
  float: right;
  padding-top: 1vh;
  top: 80%; 
  white-space:nowrap; 
}

.legenda-item {
  z-index: 1;
  margin: 0.5vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.legenda-item img {
  margin-right: 0.5vw;
  

}


#export-btn {
  position: absolute;
  top: 90%;
  right: 20px;
  padding: 10px;
  z-index: 1;
}

#content-botao {
  display: none;
}