html, body {
  height: 100vh;
  margin: 0; 
  padding: 0;
  overflow: hidden;
}

  
#map {
  z-index: 0;
  width: 100vw; /* Ocupa 100% da largura do contêiner */
  height: 100vh; /* Ocupa 100% da altura do contêiner */
  
}
  
.map-controls {
  background-color: rgba(255, 255, 255, 0.806);
  border-radius: 2vh;
  position: absolute;
  margin-top: 13vh;
  margin-left: calc(100% - 26vw);
  z-index: 1;
  padding-top: 1vh;
  width: 25vw;

}
.button-container{
  background-color: rgba(255, 255, 255, 0.806);
  box-shadow: 0px 2px 4px rgba(0.5, 0.5, 0.5, 0.5);
  border: 0px;
  border-radius: 2vh;
  position: absolute;
  margin-top: 13vh;
  margin-left: calc(100% - 26vw);
  z-index: 1;
  width: 25vw;
  height: 6vh;
  white-space:nowrap; 
}
.seta{
  position:relative;
  left:8vw;
}
@media (max-width: 999px) {

  .map-controls {
    margin-left: calc(100% - vw);
    display:block;
  }
  .button-container{
    width: 40vw;
    margin-left: calc(100% - 42vw);

  }
  .seta{
    margin-right: 8vw;
  }
}

.legenda {
  background-color: rgba(127 123 123 / 0.47);
  border-radius: 4%;
  position: absolute;
  margin-left: 2.5vh;
  z-index: 1;
  float: right;
  padding-top: 1vh;
  top: 80%; 
  white-space:nowrap; 
}

.legenda-item {
  z-index: 1;
  margin: 0.5vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.legenda-item img {
  margin-right: 0.5vw;
  

}

#content-botao {
  display: none;
}
.botao-caixa{
  background-color: rgb(99, 99, 99);
  color: white;
  width: 20%;
  height: 15%;
  border-radius: 5px;
  border: 0;
  margin: 1vh;
}
.botao-caixa:hover{
  color: #046fcd;
}

.botao-caixa:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.5;
}

.voltar {
  margin-left: 10vw;

}

#graficoModal .modal-dialog {
  max-width: 100%; /* Adjust the max-width as needed */
  width: 900px; /* Adjust the width as needed */
}

.axis {
  display: inline-block;
  margin-right: 5%;
}

#myToast {
  z-index: 5; /* Adjust the z-index value as needed */
}

/* #graficoModal {
  width: 9000px;
} */
