/* Configurações gerais da pág */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.body_paghome {
  background-color: #055BA6;
  overflow: hidden;

}

.background-color {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;

}

/* Configurações barra de rolagem */
/* Barra de rolagem para navegadores Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 15px;
  background-color: rgba(0, 0, 0, 0.651);
  /* Define a cor de fundo transparente */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.747);
  /* Define a cor da barra de rolagem */
}

/* Barra de rolagem para navegadores Firefox */
::-moz-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  /* Define a cor de fundo transparente */
}

::-moz-scrollbar-thumb {
  background-color: #000;
  /* Define a cor da barra de rolagem */
  border-radius: 5px;
  /* Define o raio de borda da barra de rolagem */
}

/* Barra de rolagem para navegadores Internet Explorer e Edge */
::-ms-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  /* Define a cor de fundo transparente */
}

::-ms-scrollbar-thumb {
  background-color: #000;
  /* Define a cor da barra de rolagem */
  border-radius: 5px;
  /* Define o raio de borda da barra de rolagem */
}


/* Configurações da NAVBAR */
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #055BA6;
}

.link {
  display: flex;
  max-width: 7.5vw;
  /* Defina o tamanho desejado para a tag <a> */
  height: 11vh;
  /* Defina o tamanho desejado para a tag <a> */
  /* Oculta qualquer parte da imagem que esteja além do tamanho definido */
  margin-right: 15%;
}

.link img {
  width: auto;
  /* A imagem ocupará todo o espaço disponível dentro da tag <a> */
  height: auto;
  /* A altura será ajustada proporcionalmente para manter a proporção original da imagem */
}


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(54, 54, 54);
  height: 12vh;
  text-transform: uppercase;


}

.nav-list {
  list-style: none;
  display: flex;

}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 40px;
}

ul.nav-list {
  margin-right: -5vw;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

/* Configurações de responsividade da NAVBAR */


.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}



/* Configurações do footer */

.content {
  flex-grow: 1;
  min-height: calc(100% - 12vh);
  /* Subtrai a altura da navbar e do rodapé */
}

.footer {
  position: relative;
  bottom: 0;
  background-color: rgb(60, 60, 60);
  padding: 2vh;
  width: 100%;

}

.footer-conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icones {
  display: flex;
  align-items: center;
}

.footer-info {
  color: white;
}

.icon {
  display: inline-block;
  max-width: 100%;
  height: 5.5vh;
  text-align: center;
  margin-right: 2vw;
}



/* Configuração conteúdo principal da (paghome.html) */
header {
  position: sticky;
  width: 100%;
  z-index: 1;
  /* Define uma camada superior para a navbar */
}

.carousel-item {
  height: 100%;
  /* Defina a altura desejada para o carrossel */
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}


.carouselExample {
  position: relative;
  z-index: 1;
  /* Define uma camada inferior para o carrossel */
}



/* Configuração conteúdo da página de análise(analise.html) */
.itens{
   display: flex;
   width: 100%;
   margin-left: 10%;
   margin-right: 10%;
}

#dropdown{
  display: flex;
  width: 100%;
  margin-top: 2.5vh;
  margin-left: 1vw;
  
}
  
.graficos {
  transform: rotate(-90deg);



}
.tabela-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.5%;
  margin-right: 1.5%;
  
}
.form-select{
  width: 20%;
  margin-left: 1.5vw;

}
#grafico_selecionado1{
  width: 65%;
  margin-bottom: -20vh;
  margin-left: 3%;


}
#grafico_selecionado2{
    width: 65%;
    margin-left: 3%;

}

#select-button {
  position: relative;
  top: 30px;
  left: 55px;
  display: flex;
  gap: 423px;
}

.bselect {
  padding: 3px 60px;
  text-transform: uppercase;
  background: white;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
  cursor: pointer;
}



td {
  font-size: 18px;
  padding-left: 10px;
  width: 10.1%;
  /* Dividir igualmente em 4 colunas */
  padding: 1vh;
  text-align: center;
}

th {

  font-size: 14px;
  text-align: center;
  padding-left: 38px;
  padding: 1vh;
  width: 20%;
  border-radius: 2vh;
  background-color: #0c77d5;

}



/* Configuração do conteúdo da página de informações(info.html) */


.container {
  display: flex;
  margin-top: 5vh;
  flex-direction: column;

  height: calc(100% - 12vh);
  /* Ajuste a altura do container para excluir a altura da navbar */


}


/* Título da página do Saiba Mais */
.text {
  text-align: left;
  margin-top: 2%;

}

/* Descrição da página de Saiba Mais */
.descricao {
  text-align: justify;
  margin-top: 2%;
}

.container-help {
  position: fixed;
  left: 92.5%;
  top: 78%;
}

.nav-list img:hover {
  border-radius: 100%;
  background-color: #055BA6;
  cursor: pointer;
}



.nav-list.active {
  transform: translateX(0);
}
@media (max-width: 999px) {
  body,
  html {
    overflow-x: hidden;
  }
  .itens{
    display: inline-block;
 }
  .form-select{
      width: 45%;
  }
  .content-graficos{
      margin-left: 3.5vh;
  }
  #grafico_selecionado1{
    margin-bottom: -12vh;
    margin-left: 10%;
    width: 50%;
  }
  #grafico_selecionado2{
    width: 50%;
    margin-left: 10%;
  }
  .tabela-flex{
    margin-right: 22.5%;
    
  }
  .link {
    /* Defina o tamanho desejado para a tag <a> */
    height: 9.5vh;
  }

  .link img {
    width: auto;
    /* A imagem ocupará todo o espaço disponível dentro da tag <a> */
    height: auto;
    /* A altura será ajustada proporcionalmente para manter a proporção original da imagem */
  }

  nav {
    height: 10vh;

  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: rgb(54, 54, 54);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}
@keyframes navLinkFade { /*Animação da navbar quando a tela é pequena */
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
