html, body {
  height: 100vh;
  margin: 0; 
  padding: 0;
  overflow: hidden;
}

.map-container {
  position: relative;
  height: 80vh; /* Defina a altura desejada, por exemplo, 80% da altura da janela */
}
  
#map {
  z-index: 0;
  width: 100vw; /* Ocupa 100% da largura do contêiner */
  height: 100vh; /* Ocupa 100% da altura do contêiner */
}
  
.map-controls {
  background-color: rgba(127 123 123 / 0.47);
  border-radius: 4%;
  position: absolute;
  margin-left: calc(100% - 25vw);
  z-index: 1;
  float: right;
  padding-top: 1vh;
}
@media (max-width: 999px) {
  .map-controls {
    margin-left: calc(100% - vw);
    display:block;
  }

}

.legenda {
  background-color: rgba(127 123 123 / 0.47);
  border-radius: 4%;
  position: absolute;
  margin-left: 2.5vh;
  z-index: 1;
  float: right;
  padding-top: 1vh;
  top: 80%; 
  white-space:nowrap; 
}

.legenda-item {
  z-index: 1;
  margin: 0.5vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.legenda-item img {
  margin-right: 0.5vw;
  

}

.legenda-rota{
  margin-left: 5%;
  width: 50%;
  height: 1vh;

}